<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="/assets/images/f_5.JPG" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>Hello! My name is Francisco García and I am an <b>Electrical Engineer</b> specialized in 
                        <b>Renewable Energies</b>.<br></bt>
                        <br><p align="center">
                            <span id="panel" class="iconify" data-icon="carbon:energy-renewable"></span>
                            <span id="panel" class="iconify" data-icon="fa6-solid:solar-panel"></span>
                            <span id="panel" class="iconify" data-icon="ic:outline-wind-power"></span>
                        </p>
                        <br>My work as an engineer is based on looking for efficiency. 
                        Thanks to this and to my passion for programming I have achieved to automate several tasks, 
                        significantly improving their execution time. 
                        <br></br>Born in Spain, with a great sense of adventure and of living new experiences, I find myself in 
                        France developing my professional career and learning more than ever from an experience that is 
                        undoubtedly worthwhile.
                        <br></br>My goal is to contribute responsibly to 
                        the development of a better, more efficient and modern world.<br></br>
                        </p>
                        <!--<a href="/assets/images/language_app.jpg" download="language_app">Download</a>-->
                        
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.baseurl}}/#contact"
                                class="button button-2">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.baseurl}}/blog"
                                class="button button-3">Blog</a>
                            </a>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
</section>


